@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*Custom style*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
.padding-trim{
    padding-left: 0px;
    padding-right: 0px;
}
.padding-trim-lf{
    padding-left: 0px;
}
.m-1{
    margin-top: 0px;
}
/*End-Custom style*/
.m-top{
    margin-top: 10px;
}
.main-slider h4{
    padding-top: 10px;
    font-size: 48px;
    font-weight: bold;
}
.main-slider p{
    font-size: 16px;
    color: #656565;
    padding-right: 80px;
    text-shadow: none;
    font-weight: 700;
}
.main-slider .btns{
    margin-top: 10px;
    background: #216E36 !important;
    border: none !important;
    padding: 8px 27px;
    border-radius: 47px;  
}
@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 39px;
    font-weight: bold;
    line-height: 51px;
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
    border-bottom: 4px solid #216e36;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #aabd2f;
    height: 65px;
     transition:500ms ease;
}
.navbar-default.scrolled{
   background-color: #adbe3a;
}
.navbar-brand > img {
    display: block;
    width: 80%;
    margin-top: 10px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #adbe3a;
}
.navbar-default .navbar-toggle {
    border-color: #adbe3a;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.reg-btn{
    padding: 7px 20px !important;
    background-color: #216E36 !important;
    border-radius: 30px;
    margin-top: 7px;
    color: #fff !important;
}
/*slider*/
.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
#myCarousel{
    margin-top: -20px;
}
.carousel-caption {
    top: 13%;
    text-align: left;
    left: 10%;
    width: 40%;
    font-size: 50px;
}
.carousel-caption h3{
    font-size: 40px;
}
.carousel-caption h4{
    line-height: 56px;
    font-size: 46px;
    color: #ffffff;
}
.carousel-btn{
    font-size: 14px;
    background-color: #f7d413;
    color: #fff;
    padding: 11px 16px;
    border-radius: 30px;
    text-shadow: none;
}
a.carousel-btn {
    text-decoration: none;
    color: #fff;
}
a:hover.carousel-btn {
    color: #f7f7f7;
    background-color: #e4c204;
}
.carousel-control.left{
    text-shadow: 0 1px 2px rgb(26, 26, 26);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    background-image: none;
}
 .carousel-control.right{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
     background-image: none;
}
.carousel-control{
   width: 7%;
}
.carousel-caption i{
    margin-left: 3px;
}
.glyphicon{
    font-size: 15px;
}
.carousel-control.left span{
   font-size: 18px; 
}
.carousel-control.right span{
   font-size: 18px; 
}
/* fade effect style */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* End-fade effect style */
/*End-slider*/
.navbar-brand {
    padding: 1px 15px;
}
/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    min-height: 630px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 77% 10%;
    
}
/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}
/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}
.about{
   margin-top: 40px;  
}
.about p{
    text-align: center;
    font-weight: 100;
    line-height: 29px;
}
.about-image{
    margin-top: 40px;
}
.about-image p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #888888;
    margin-top: 15px;
}
.about-image img{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.expertise .top-cur img{
   width: 100%; 
}
.expertise{
    margin-top: 60px;
}
.expertise-inner{
    background-color: #F5F5F5;
}
.title-line{
   float: left;
    width: 6px;
    height: 30px;
    background-color: #c2d835;
    margin-top: 8px;
}
.title-text{
    font-size: 25px;
    float: left;
    margin-left: 10px;
}
.exp{
    margin-top: 40px;
    padding-bottom: 90px;
    overflow: hidden;
}
.footer .footer-top-img img {
    width: 100%;
}
.footer-inner{
    background-color: #c2d835;
}
.exp img{
    display: block;
    margin: 0 auto;
}
.footer-title{
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}
.footer ul{
   list-style: none; 
}
.footer ul li a{
    text-decoration: none;
    list-style: none;
    color: #373737;
}
.footer span{
    text-align: center;
    display: block;
}
.footer-nav{
    width: 27%;
    margin: 0 auto;
}
.footer-address{
    width: 38%;
    margin: 0 auto;
    margin-top: 10px;
}
.footer h6{
    text-align: center;
     padding-bottom: 10px;
}
.font-bg{
    font-size: 18px !important;
    color: #1e893c;
}
/*End-main-style*/
/*Media query*/
@media screen and (max-width: 767px) {
.carousel-fullscreen .carousel-inner .item{
        min-height: 420px;
    }
    .carousel-caption{
        width: 100% !important;
    }
    .main-slider h4{
        padding-left: 0px;
    }
    .main-slider p {
    padding-left:0px;
    font-size: 12px;
    }
    .carousel-caption h4 {
    line-height: 38px !important;
    font-size: 27px !important;
}
    .main-slider .btns{
      margin-left: 0px;  
    }
    .carousel-fullscreen .carousel-inner .item {
    min-height: 430px !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #adbe3a;
    background-color: #adbe3a;
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
    .nav-top{
      margin-top: 5px;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 0px solid #216e36;
    margin-top: 10px;
}
    .padding-trim-r{
        padding-left: 15px;
        padding-right: 15px;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .carousel-fullscreen .carousel-inner .item {
    background-position: 90% 57% !important;
}
    .reg-btn {
    font-size: 12px;
    width: 40%;
    margin-left: 11px;
    text-align: center;
}
    .about {
    margin-top: 0px;
}
    .exp img {
    width: 100%;
    margin-bottom: 20px;
}
    .exp {
    margin-top: 10px;
    padding-bottom: 10px;
}
    .footer-address {
    width: 100%;
    }
    .footer-nav {
    width: 100%;
    }
    .footer span {
    margin-top: 15px;
}
}
/**********************************************768***************************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .carousel-caption {
     width: 90%;
    }  
    .carousel-fullscreen .carousel-inner .item{
        background-position: 65% 40%;
    }
    .form .btns {
        width: auto;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    #about {
    padding: 10px;
    height: 430px;
}
    .para {
    margin-top: 10px;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 10px;
}
    #how {
    min-height: auto;
}
    .what-h1 {
    margin-top: -28px !important;
}
}
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
.carousel-caption {
     width: 60%;
    } 
    .form .btns {
        width: auto;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .para {
    margin-top: 10px;
}
    #home {
    min-height: auto;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 10px;
}
    #how {
    min-height: auto;
    margin-bottom: 30px;
}
    .what-h1 {
    margin-top: -28px !important;
}
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 846px) and (orientation: landscape){
    #about {
    height: auto;
}
}
/* Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: landscape){
   .para {
    margin-top: 80px;
}
    .what-h1 {
    margin-top: -10px !important;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 50px;
}
    #how {
    min-height: auto;
    margin-bottom: 30px;
}
}
/*End-Media query*/

    
    
    





