@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*Custom style*/
body {
 font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
.padding-trim{
    padding-left: 0px;
    padding-right: 0px;
}
.padding-trim-lf{
    padding-left: 0px;
}
.m-1{
    margin-top: 0px;
}
.m-5{
    margin-top: 50px;
}
.p-top{
    padding-top: 80px;
}
/*End-Custom style*/
.m-top{
    margin-top: 10px;
}
.main-slider h4{
    font-size: 48px;
}
.main-slider p{
    font-size: 16px;
    color: #9e9e9e;
    padding-right: 80px;
    text-shadow: none;
}
.main-slider .btns{
    margin-top: 10px;
    background: #216E36 !important;
    border: none !important;
    padding: 8px 27px;
    border-radius: 47px;  
}
@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 39px;
    font-weight: bold;
    line-height: 51px;
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #216e36;
    background: none;
    border-bottom: 4px solid #216e36;
}
.navbar-default .navbar-nav > li > a {
    color: #6f6f6f;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #e8e8e8;
    height: 65px;
     transition:500ms ease;
}
.navbar-default.scrolled{
    box-shadow: 0 1px 5px rgba(190,190,190,.5);
    background-color: #ffffff;
}
.navbar-brand > img {
    display: block;
    width: 80%;
    margin-top: 5px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #adbe3a;
}
.navbar-default .navbar-toggle {
    border-color: #adbe3a;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #208a3e;
}
.reg-btn{
    padding: 7px 20px !important;
    background-color: #216E36 !important;
    border-radius: 30px;
    margin-top: 7px;
    color: #fff !important;
}
/*slider*/
.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
#myCarousel{
    margin-top: -20px;
}
.carousel-caption {
    top: 13%;
    text-align: left;
    left: 10%;
    width: 40%;
    font-size: 50px;
    text-shadow: inherit;
}
.carousel-caption h3{
    font-size: 40px;
}
.carousel-caption h4{
    line-height: 56px;
    font-size: 46px;
    color: #656565;
}
.carousel-btn{
    font-size: 14px;
    background-color: #f7d413;
    color: #fff;
    padding: 11px 16px;
    border-radius: 30px;
    text-shadow: none;
}
a.carousel-btn {
    text-decoration: none;
    color: #fff;
}
a:hover.carousel-btn {
    color: #f7f7f7;
    background-color: #e4c204;
}
.carousel-control.left{
    text-shadow: 0 1px 2px rgb(26, 26, 26);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    background-image: none;
}
 .carousel-control.right{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
     background-image: none;
}
.carousel-control{
   width: 7%;
}
.carousel-caption i{
    margin-left: 3px;
}
.glyphicon{
    font-size: 15px;
}
.carousel-control.left span{
   font-size: 18px; 
}
.carousel-control.right span{
   font-size: 18px; 
}
/* fade effect style */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* End-fade effect style */
/*End-slider*/
.navbar-brand {
    padding: 1px 15px;
}
/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    min-height: 750px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 77% 10%;
    
}
/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 40%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}
/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}
.about{
   margin-top: 40px;  
}
.about-image-circle{
    width: 248px;
    height: 248px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 auto;
}
.about-image-circle img{
    width: 80%;
    text-align: center;
    display: block;
    margin: 12px auto;
}
.about-pro{
    width: 84% !important;
    margin: 22px auto !important;
    padding-left: 10px;
}
.about-succ{
    margin-top: 32px !important;
}
.about p{
    text-align: center;
    font-weight: 100;
    line-height: 29px;
    font-weight: 400;
}
.about-image{
    margin-top: 40px;
}
.about-image p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #888888;
    margin-top: 15px;
}
.why-img-center{
    width: 90%;
    margin: 0 auto;   
}
.expertise .top-cur img{
   width: 100%; 
}
.top-cur img{
  width: 100%;   
}
.expertise{
    margin-top: 60px;
}
.expertise-inner{
    background-color: #F5F5F5;
}
.expertise-hover{
    width: 80%;
    background-color: #ddd;
    border-radius: 20px;
    margin: 0 auto;
    height: 310px;
}
.expertise-bottom{
    
}
.exp-tag{
    background-color: #c2d835;
    z-index: 10000;
    height: 350px;
    border-radius: 20px;
    
}
.exp img {
    display: block;
    margin: 0 auto;
}
.exp-tag-right{
    clip-path: polygon(100% 63%, 60% 100%, 100% 100%);
    background-color: #c2d835;
    z-index: 10000;
    height: 350px;
    border-radius: 20px;
}
/*.exp img{
    position: absolute;
}*/
.exp span{
    color: #000;
    position: absolute;
    bottom: 8%;
    width: 19%;
    text-align: center;
    font-size: 20px;
}
.exp-span-right{
    color: #000;
    position: absolute !important;
    bottom: 8% !important;
    width: 157% !important;
    text-align: center;
    font-size: 20px;
    left: 0;
}
.title-line{
   float: left;
    width: 6px;
    height: 30px;
    background-color: #c2d835;
    margin-top: 8px;
}
.title-line-2{
    background-color: #216e36 !important
}
.title-text{
    font-size: 25px;
    float: left;
    margin-left: 10px;
}
.exp,.regis{
    margin-top: 10px;
    padding-bottom: 40px;
    overflow: hidden;
}
.footer .footer-top-img img {
    width: 100%;
}
.footer-inner{
    background-color: #c2d835;
    margin-top: -3px;
}
.exp img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.footer-title{
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}
.footer ul{
   list-style: none; 
}
.footer ul li a{
    text-decoration: none;
    list-style: none;
    color: #373737;
}
.footer span{
    display: block;
}
.footer-nav{
    margin: 0 auto;
}
.footer-address{
    margin: 0 auto;
    margin-top: 10px;
}
.footer h6{
    text-align: center;
     padding-bottom: 10px;
}
.font-bg{
    font-size: 18px !important;
    color: #1e893c;
}
.default-nav{
    background-color: #adbe3a;
}
.forms{
    background-color: #f5f5f5;
    padding: 14px;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 9px 0px rgb(158 158 158 / 73%);
-moz-box-shadow:    0px -1px 9px 0px rgb(158 158 158 / 73%);
box-shadow: 0px -1px 9px 0px rgb(158 158 158 / 73%);
    margin-top: 10px;
}
.register-btn{
    padding: 7px 20px;
    border: none;
    background-color: #216e36;
    border-radius: 30px;
    color: #fff;
    outline: none;
}
.register-btn:hover{
    background-color: #239642;
}
.expe-image:hover{
    margin: 0 auto;
    border-radius: 20px;
   margin-top: 10px;
}
.forms input{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 13px;
}
.forms textarea{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 13px;
}
/*Jee*/
.jee-main{
    margin-top: 64px;
}
.jee{
  background-color: #C2D835;
  margin-bottom: 70px;
}
.jee-wapper{
    margin-top: 10px;
    padding-bottom: 40px;
    overflow: hidden;
    
}
.jee-image{
    width: 100%;
    position: absolute;
}
.jee-banner{
    position: relative;
    margin-top: 30px;
}
.what-jee{
    padding-bottom: 50px;
}
.melu-inner{
    background-color: #F5F5F5;
    margin-top: -3px;
}
/*End-Jee*/
.road-circle{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color:#fff;
    border: 10px solid #c2d835;
    margin-top: 550px;
}
.road-text{
    text-align: center;
    margin-top: 95px;
    font-weight: 700;
    font-size: 18px;
}
.road-contant{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
    padding: 10px;
    margin-top: 50px;
}
.road-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #c2d835;
    position: relative;
    float: right;
    margin-top: -44px;
    margin-right: 13px;
     -webkit-box-shadow: -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px 0px 12px 0px rgba(50, 50, 50, 0.75);
}
.road-span{
    position: relative;
    margin-top: 99px;
    display: inline-block;
    margin-left: 50px;
    font-size: 21px;
    font-weight: 900;
    color: #6b6b6b;
}
.roadmap{
    margin-top: 50px;
    margin-bottom: 50px;
}
.package{
    background-color: #F5F5F5;
    margin-top: -3px;
}
.read{
    clip-path: polygon(100% 0, 100% 52%, 48% 70%, 48% 69%, 0 49%, 0 0);
     -webkit-clip-path: polygon(100% 0, 100% 52%, 48% 70%, 48% 69%, 0 49%, 0 0);
    -moz-clip-path: polygon(100% 0, 100% 52%, 48% 70%, 48% 69%, 0 49%, 0 0);
    background-color: #D691BF;
    height: 66px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    color:#fff; 
   
}
.read-2{
    background-color: #29BEC5 !important;
}
.read-3{
    background-color: #D6B892 !important;
}
.read-4{
    background-color: #C1D836 !important;
}
.tes{
    margin-top: 50px;
}
#testimonial-slider{
    margin-top: 30px;
}
.testimonial{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
padding: 35px 10px 5px 118px;
margin: 0 15px 30px 15px;
overflow: hidden;
position: relative;
    border-radius: 10px;
    border: 1px solid #efefef;
        }
        
        
        .testimonial .pic{
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 10px;
            left: 20px;
        }
        .testimonial .pic img{
            width: 100%;
            height: auto;
        }
        .testimonial .description{
            font-size: 14px;

            color: #6f6f6f;
           
            margin-bottom: 15px;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            color: #4e4e4e;
            margin: 0;
        }
        
        .owl-theme .owl-controls .owl-page span{
            border: 2px solid #2A3D7D;
            background: #fff !important;
          border-radius:0 !important;
            opacity: 1;
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls .owl-page:hover span{
            background: #c2d835 !important;
          border-color:#c2d835;
        }
        @media only screen and (max-width: 767px){
            .testimonial{
                padding: 20px;
                text-align: center;
            }
            .testimonial .pic{
                display: block;
                position: static;
                margin: 0 auto 15px;
            }
        }

.package-inner{
    margin-top: 30px;
}
.package-inner-contant{
    background-color: #fff;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
}
.package-inner-contant p{
    padding: 14px;
}
.package-inner-contant a{
    text-decoration: none;
}
.package-contant{
    position: absolute;
    top: 47px;
    text-align: center;
    width: 100%;
    color: #fff;
}
.package-contant h3{
  font-size: 30px;  
}
.package-contant h4{
  margin-left: 3px;  
}
.price-wapper{
    width: 30%;
    margin: 0 auto;
    display: block;
    overflow: auto;
}
.price-img{
    width: 70%;
    margin-top: 11px;
}
/*End-main-style*/
/*Media query*/
@media screen and (max-width: 767px) {
.carousel-fullscreen .carousel-inner .item{
        min-height: 420px;
    }
    .carousel-caption{
       width: 85% !important;
    }
    .main-slider h4{
        padding-left: 0px;
    }
    .main-slider p {
    padding-left:0px;
    font-size: 12px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    color: #dedddd;
    }
    .carousel-caption h4 {
    line-height: 38px !important;
    font-size: 27px !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        color: #fff;
}
    .main-slider .btns{
      margin-left: 0px;  
    }
    .carousel-fullscreen .carousel-inner .item {
    min-height: 430px !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #adbe3a;
    background-color: #adbe3a;
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
    .nav-top{
      margin-top: 5px;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 0px solid #216e36;
    margin-top: 10px;
}
    .padding-trim-r{
        padding-left: 15px;
        padding-right: 15px;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .carousel-fullscreen .carousel-inner .item {
    background-position: 90% 57% !important;
}
    .reg-btn {
    font-size: 12px;
    width: 40%;
    margin-left: 11px;
    text-align: center;
}
    .about {
    margin-top: 0px;
}
    .exp img {
    width: 100%;
    margin-bottom: 20px;
}
    .exp {
    margin-top: 10px;
    padding-bottom: 10px;
}
    .footer-address {
    width: 100%;
    }
    .footer-nav {
    width: 100%;
    }
    .footer span {
    margin-top: 15px;
}
    .jee{
        margin-bottom: 10px;
        background-color: #F3F4F4;
    } 
    .what-jee {
    padding-bottom: 10px;
}
    .why-img-center {
    width: 100%;
    }
    .w-melu-contant p{
       text-align: center; 
    }
    .top-cur img {
    margin-top: -2px;
}
    .roadmap{
       margin-top: 20px; 
    }
    .road-circle {
        margin: 40px auto;
    display: block;
    }
    .jee-image {
    position: initial;
    margin-bottom: 10px;
}
}
/**********************************************768***************************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .carousel-caption {
     width: 90%;
    }  
    .carousel-fullscreen .carousel-inner .item{
        background-position: 65% 40%;
    }
    .form .btns {
        width: auto;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    #about {
    padding: 10px;
    height: 430px;
}
    .para {
    margin-top: 10px;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 10px;
}
    #how {
    min-height: auto;
}
    .what-h1 {
    margin-top: -28px !important;
}
}
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
.carousel-caption {
     width: 60%;
    } 
    .form .btns {
        width: auto;
    }
    .padding-trim-r-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .para {
    margin-top: 10px;
}
    #home {
    min-height: auto;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 10px;
}
    #how {
    min-height: auto;
    margin-bottom: 30px;
}
    .what-h1 {
    margin-top: -28px !important;
}
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 846px) and (orientation: landscape){
    #about {
    height: auto;
}
}
/* Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: landscape){
   .para {
    margin-top: 80px;
}
    .what-h1 {
    margin-top: -10px !important;
}
    #what p {
    padding: 0px 41px;
}
    .title-head {
    margin-top: 50px;
}
    #how {
    min-height: auto;
    margin-bottom: 30px;
}
}
/*End-Media query*/

    
    
    





