*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    background-color: #2A2927;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #fff;
}
/*custom css class*/
.m-1{
    margin-top: 10px;
}
.m-2{
    margin-top: 20px;
}
.m-3{
    margin-top: 30px;
}
.m-b-1{
    margin-bottom: 20px;
}
.padding-trim{
    padding-left: 0px;
    padding-right: 0px;
}
.padding-trim-l{
    padding-left: 5px;
    padding-right: 0px;
}
.hr{
    height: 0.5px;
    background-color: #444;
    margin-top: 15px;
}
/*Scrollbar*/
* {
  scrollbar-width: thin;
  scrollbar-color: #F7D413 #2A2927;  
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #353535;
}
*::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 20px;
}
/*End-Scrollbar*/
/*top-scroll*/
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
.top-btn{
    margin: 0 auto;
    width: 50px;
    margin-top: 20px;
    font-size: 25px;
}
.top-btn a{
    color: #F7D413;
}
/*End-top-scroll*/
/*End custom css class*/
/*form style*/
.blmd-form {
  margin: 2rem 0;
  position: relative;
  width: 100%;
}
.blmd-form .blmd-line {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}
.blmd-form .blmd-line.blmd-toggled:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.blmd-form .blmd-line.blmd-toggled.hf:after {
  display: none;
}
.blmd-form .blmd-line.blmd-toggled .blmd-label {
  top: -10px;
  font-size: 11px;
}
.blmd-form .blmd-line:after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #f0cd0b;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.blmd-form .form-control {
  box-shadow: none;
  border-radius: 0;
  position: relative;
  background: 0 0;
  z-index: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  padding: 0;
    color: #ddd;
    font-size: 12px;
}
.blmd-form .blmd-label {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: absolute;
  top: 5px;
  font-weight: 300;
  color: #fff;
  pointer-events: none;
  z-index: 0;
  left: 0;
  white-space: nowrap;
    font-size: 13px;
}
.btn-blmd{
  background-color: #F0CD0B;
  border: 1px solid #676559;
  font-size: 15px;
  width: 100%;
  color: #fff;
}
.login-btn{
  margin-top: 20px;
}
.error{
    color: red;
    font-size: 11px;
}
.btn-blmd:hover{
   background-color: #d2b92d;
   border: 1px solid #f0cd0b; 
}
.btn-blmd:focus{
   background-color: #F0CD0B;
   border: 1px solid #f0cd0b;
    outline: none;
}
.btn-blmd:active{
 background-color: #F0CD0B;
   border: 1px solid #f0cd0b;    
}
.log-select option{
    background-color:#2A2927;
}
.re-for{
    margin-top: 15px;
    color: #fff; 
}
.re-for h4{
    float: left;
    font-size: 12px;
}
.re-for h3{
    float: right;
    font-size: 12px;
    margin-top: 10px;
}
.policy{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}
.policy a{
    color: #F0CD0B;  
}
.re-for a{
    color: #fff; 
}
.success-alert{
    color: #fff;
    margin-top: 10px;
    display: block;
    font-size: 13px;
}
/*End form style*/
/*Navbar*/
.navbar-cus {
    background-color: #F7D413;
    border-color: #F7D413;
}
#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
   border-top: 3px solid transparent;
}
#topheader .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
  background-color:transparent;
  color: #676767;
    border-top: 3px solid #131313;
}
#topheader .navbar-nav li.active > a {
  background: transparent;
  color: #000;
}
.logo-home img{
    margin: 10px 0px 13px 0px;
}
.search-box{
    margin-top: 25px;
}
.search-cus{
    color: #fff;
    background-color: #f7d413;
    border-color: #f7d413;
}
.search-cus:hover{
    color: #fff;
    background-color: #e4c410;
    border-color: #e4c410;
    outline: none;
}
.search-cus:active{
    color: #fff;
    background-color: #e4c410;
    border-color: #e4c410;
    outline: none;
}
.search-cus:focus{
    color: #fff;
    background-color: #e4c410;
    border-color: #e4c410;
    outline: none;
}
.home-search-wapper{
    background: transparent;
    border-radius: 28px;
    border: 0.5px solid #7b7b7b;
    color: #fff;
    outline: none;
}
.home-search-wapper:focus {
    border-color: #f7d413;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(43, 43, 43, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(8, 8, 8, 0.6);
    color: #fff;
    outline: none;
}
.btn{
    outline: none !important;
}
.home-login-btn a{
    margin-top: 26px;
    float: left;
    background-color: transparent;
    padding: 6px 20px;
    border-radius: 20px;
    color: #f7d413;
    border: 0.5px solid #f7d413;
    margin-left: 10px;
    text-decoration: none;
}
.home-login-btn a:hover{
    background-color: #f7d413;
    color: #fff;
}
.login-user-drop{
    padding: 6px;
    margin-top: 27px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.login-user-dropul{
    margin: 8px 0 0;
    background-color: #2a2927;
    border: 1px solid #8a8a8a;
}
.login-user-dropul > li > a{
    color: #fff;
}
.login-user-dropul > li > a:hover, .login-user-dropul > li > a:focus
{
    color: #fff;
    text-decoration: none;
    background-color: #F7D413;
}
@media (min-width: 768px){
    .centered-ul{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
/*End-Navbar*/
/*slider*/
.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
#myCarousel{
    margin-top: -20px;
}
.carousel-caption {
    top: 13%;
    text-align: left;
    left: 10%;
    width: 50%;
    font-size: 50px;
}
.carousel-caption h3{
    font-size: 40px;
}
.carousel-caption h4{
    line-height: 28px;
    font-size: 16px;
    color: #bdbdbd;
}
.carousel-btn{
    font-size: 14px;
    background-color: #f7d413;
    color: #fff;
    padding: 11px 16px;
    border-radius: 30px;
    text-shadow: none;
}
a.carousel-btn {
    text-decoration: none;
    color: #fff;
}
a:hover.carousel-btn {
    color: #f7f7f7;
    background-color: #e4c204;
}
.carousel-control.left{
    text-shadow: 0 1px 2px rgb(26, 26, 26);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    background-image: none;
}
 .carousel-control.right{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
     background-image: none;
}
.carousel-control{
   width: 7%;
}
.carousel-caption i{
    margin-left: 3px;
}
.glyphicon{
    font-size: 15px;
}
.carousel-control.left span{
   font-size: 18px; 
}
.carousel-control.right span{
   font-size: 18px; 
}
/* fade effect style */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* End-fade effect style */
/*End-slider*/
/*Mobile-menu*/
.overlay,
.sideMenu {
    position: fixed;
    bottom: 0;
}
.overlay {
    top: 0;
    left: -100%;
    right: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
    transition: all ease 20ms;
}
.sideMenu,
.sidebarNavigation {
    z-index: 999;
    margin-bottom: 0;
}
.overlay.open {
    left: 0;
    right: 0;
}
.sidebarNavigation .left-navbar-toggle {
    float: right;
    margin-right: 10px;
    margin-left: 15px;
}
.sideMenu {
    left: -100%;
    top: 0px;
    transition: all ease-in-out 0.4s;
    overflow: hidden;
    width: 100%;
    max-width: 50%;
    height: 100%;
}
.sideMenu.open {
    left: 0;
    display: block;
    overflow-y: auto;
}
.sideMenu ul {
    margin: 0;
}
.menu-name{
    display: none;
}
/*End-mobile*/
/*Home-page*/
.home-title{
   padding: 15px;
    color: #fff;
    font-size: 20px;
    margin-top: 17px;
    font-weight: 600;
}
.home-seeall{
    color: #fff;
    margin-top: 43px;
    float: right; 
}
.avater{
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;  
}
.avater img{
      border-radius: 12px;
}
.avater:hover{
    height: 200px;
   box-shadow: 0px 0px 0px 1px #fff inset;
}
.avater-wapper{
width: 100%;
}
.avater-wapper-inner{
     white-space: nowrap;
     padding-bottom: 13px;
     overflow: hidden;
}
.avater-wapper-inner:hover{
    overflow-y: hidden;
    overflow-x: auto;
}
.avater-wapper-2{
    background-color: #1f1f1f;
}
.itemsdiv {
    padding: 8px 10px;
    border-radius: 12px;
    display: inline-block;
    float: none;
    width:16.55555555%;  
}
.hover {
  overflow: hidden;
  position: relative;
  height: 200px;
    border-radius: 10px;
}
.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
  
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.hover-content {
  position: relative;
  z-index: 99;
}
.font-weight-light{
 color: #fff;
 font-size: 20px;
 font-weight: 900;
 margin-bottom: -10px;
}
h3.hover-1-title{
  margin-bottom: 4px;  
}
/*hover-effect*/
.hover-1 img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  transition: all 0.3s;
}
.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
  width: 100%;
    padding: 5px;
}
.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.20);
}
.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
  font-size: 12px;
  color: #fff;
  font-weight: 800;  
}
.hover-1:hover .hover-1-content {
  bottom: 2rem;  
}
.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}
.hover-1:hover img {
  left: 0;
}
.hover-1:hover .hover-overlay {
  opacity: 0;
}
.footer{
   background-color: #1A1A1A;
   color: #fff;
    padding: 10px;
}
.footer li{
    float: left;
    list-style: none;
    padding: 4px 20px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer a:hover{
    color: #dadada;
}
.footer2{
    background-color: #0F0F0F;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.footer2 p{
    margin-top: 10px;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: #2A2927;
}
body::-webkit-scrollbar-thumb {
  background-color: #F7D413;
  border-radius: 20px;
}
/*End-home*/
/*list-view style*/
.listdiv {
    padding: 8px 10px;
}
.list-active{
    margin-top: 15px;
    background: none;
    border-bottom: 1px solid #484848;
    border-radius: 0px;
    margin-bottom: 0px;
}
.list-active a{
    color: #ddd;
}
.breadcrumb >.active {
    color: #f7d413;
}
.pagenation{
    margin: 0 auto;
    width: 17%;
	float: right;
}
.pagenation .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #f7d413;
    border-color: #f7d413;
}
.pagenation .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f7d413;
    border-color: #f7d413;
}
.pagenation .pagination > li > a, .pagination > li > span{
    background-color: #2a2927;
    border-color: #92822c;
    color: #fff;
}
.no-result-list{
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;
}
/*End-list-view*/
/*detail-view*/
.detail-page-header{
    background-color: #000;
}
.detail-page-header h3{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    margin-top: 39px;
}
.detail-page-header p{
    color: #fff;
}
.detail-page-header h6{
    color: #C2C2C2;
    font-weight: bold;
}
.detail-page-header a{
    padding: 8px 32px;
    background-color: #f7d413;
    border-radius: 50px;
    margin-top: 13px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.detail-user{
    margin-top: 20px;
}
.detail-user img{
   border-radius: 11px;
   margin-bottom: 20px;
   width: 80%;
}
.detail-highlight{
    margin-top: 30px;
    color: #fff;
}
.detail-highlight ul{
    margin-top: 15px;
    margin-left: 20px;
}
.detail-highlight li{
    line-height: 26px;
    color: #b7b6b6;
}
.detail-wapper{
    margin-top: 10px;
    color: #fff;
}
.detail-wapper video{
     border-radius: 10px;
}
.detail-similar video{
     border-radius: 10px;
}
.detail-video{
    width: 100%;
    background-color: #2A2927;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.detail-similar{
    margin-top: 10px;
    color: #fff; 
}
.video-icon{
    position: absolute;
    margin: 15px;
    font-size: 26px;
    z-index: 1000;
    width: 80%;
}
.video-icon a{
    color: #fff;
}

/*End-detailpage*/
.playpause {
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
/*form-elements*/
.form-1,.form-2{
    color: #fff;
}
.small-title{
    color: #f7d413;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 800;
}
.form-horizontal .control-label{
    text-align: left;
}
.form-2{
    margin-top: 140px;
}
.form-labe{
    top: -31px !important;
}
.form-wapper{
    margin-top: 50px;
}
.form-details{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}
.form-btn{
    margin-top: 22px;
    padding: 8px 17px;
    background-color: #f7d413;
    border-radius: 20px;
    display: block;
    text-align: center;
}
a.form-btn{
    color: #fff;
    text-decoration: none;   
}
.check-btn{
    margin-top: 42px;
    padding: 8px 17px;
    background-color: #f7d413;
    border-radius: 20px;
    display: block;
    text-align: center;
}
a.check-btn{
    color: #fff;
    text-decoration: none;   
}
