@media (width: 1920px){
.years {
    right: 380px;
}
.living-section {
    padding: 70px 0 390px;
    height: auto;
}
.overview-section {
    padding: 70px 0 300px;
    height: auto;
}
}
@media (width: 1440px){
.years {
    right: 140px;
}
}
@media(max-width: 1200px)
{

}
@media (min-width: 992px) and (max-width:1024px){
.footer-img img {
    margin-right: 3px;
    width: 70px;
}
.flx {
    display: flex;
    justify-content: end;
}
.joureny-slider button.owl-next {
    right: -25px;
}
.joureny-slider button.owl-prev {
    left: -25px;
}
.years {
    right: 85px;
    width: 75px;
}
.div-year {
    font-size: 30px;
	max-width: 330px;
}
.div-year:after {
    width: 25%;
    left: -100px;
}
.joureny-slider p {
    font-size: 18px;
    max-width: 330px;
}
.marquee-slider button.owl-next {
    right: -50px;
}
.marquee-slider button.owl-prev {
    left: -50px;
}
.marquee-slider {
    padding: 55px 0;
}
.menu ul li a {
    font-size: 14px;
}
.menu ul li {
    padding: 25px 10px;
}
.marquee-slider .item:hover:after {
    left: 12px;
}
.leadership-section {
    height: auto;
    padding: 50px 0;
}
.leadership-inner {
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.core-inner p {
    margin-left: 20px;
    margin-right: 0;
}
.living-section {
    padding: 40px 0 80px;
    height: 100vh;
    background-size: contain;
}
}
@media (max-width: 991px){
.flx {
    display: flex;
    justify-content: end;
}	
header {
    padding: 10px 0px;
    background-color: transparent;
    position: relative;
}
.logo img {
    width: auto;
    transition: ease all 0.5s;
    padding-bottom: 0;
    padding-top: 15px;
}
.ham-icon {
    display: block;
    height: 30px;
    margin-top: 25px;
}
.logo {
    float: left;
    margin-top: 0;
}
  .ham-icon img
  {
    float: right;
  }
  .menu
  {
    display: none;
  }
  .my-sidenav {
    width: 0px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 999999999;
    height: 100vh;
    max-width: 0px;
    width: 100%;
    background-color: rgba(42, 64, 146, 1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .my-sidenav>ul {
    padding: 0px 20px 40px;
  }
  .my-sidenav>ul>li>ul {
    margin-top: 0px;
    display: none;
  }
  .my-sidenav ul.submenu li ul.submenu {
    display: none;
    position: static;
    width: 100%;
  }
  .my-sidenav ul {
    list-style-type: none;
    padding-left: 15px;
  }
  .my-sidenav ul li
  {
    border-bottom: 1px solid #ffffff;
    padding: 15px 0px;
  }
  .my-sidenav > ul > li > ul >li
  {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0px;
  }
  .my-sidenav > ul > li > ul >li:last-child, .my-sidenav ul.submenu li ul.submenu li:last-child
  {
    border-bottom: 0px;
  }
  .my-sidenav ul.submenu li ul.submenu li {
    border-bottom: 1px solid #ffffff;
    padding: 10px 10px;
  }
  .my-sidenav ul.submenu li ul.submenu li a {
    color: #ffffff;
    font-size: 16px;
  }
.cross-btn {
    text-align: right;
    padding: 10px 15px 0px 0px;
    color: #fff;
    font-size: 42px;
}
  .my-sidenav .submenu-indicator-minus .submenu-indicator {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .my-sidenav .submenu-indicator {
    font-size: 30px;
    position: absolute;
    line-height: 25px;
    right: 15px;
  }
  .my-sidenav>ul>li>a {
    color: #ffffff;
    font-size: 18px;
  }
  .my-sidenav>ul>li>ul>li>a {
    color: #ffffff;
    font-size: 18px;
  }
 
.marquee-section {
    height: auto;
    padding: 50px 0;
    display: block;
}
.marquee-slider {
    padding: 0 0;
}
.marquee-slider button.owl-prev {
    left: 0;
} 
.marquee-slider button.owl-next {
    right: 0;
} 
.marquee-slider .item:hover:after {
    left: 93px;
	display:none;
}
.service-section .container {
    display: block;
    align-items: center;
}
.service-section {
    height: auto;
    display: block;
    padding: 50px 0;
}
.service-inner {
    text-align: center;
}
.service-inner p {
    margin: 15px 0 40px;
    max-width: 100%;
    width: 100%;
}
.service-round {
    margin-top: 40px;
}
.service-section:after {
    top: 0;
	display:none;
}
.journey-section {
    height: auto;
    display: block;
    padding: 50px 0;
	border-bottom: 1px solid #616161;
}
.div-year {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.div-year:after {
    bottom: 15px;
	display:none;
}
.joureny-slider p {
    font-size: 17px;
    line-height: 22px;
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
}
.years {
    position: relative;
    right: 0;
    height: 100%;
    top: 0;
    display: block;
    z-index: 1;
    background: transparent;
    width: 100%;
}
.years-inner div {
    padding: 0px 12px;
    margin: 5px 0;
    display: inline-block;
}
.years-inner a {
    font-size: 16px;
}
.joureny-slider .item {
    display: block;
}
.joureny-slider .item img {
    width: auto;
    text-align: center;
    margin: 0 auto;
	margin-top: 20px;
}
.joureny-slider button.owl-prev {
    left: 0;
}
.joureny-slider button.owl-next {
    right: 0;
}
.sticky {
    padding: 0 0 10px;
}
.common-heading {
    font-size: 27px;
}
.common-heading2 {
    font-size: 27px;
}
.year-img img {
    width: 200px!important;
}
.top-scroll {
    margin-bottom: 70px;
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 99;
}
.footer-img {
    padding: 15px 0 20px;
    margin-bottom: 0;
}
.footer-inner {
    padding-bottom: 20px;
}
.footer-img img {
    margin-right: 5px;
    width: 65px;
    margin-bottom: 10px;
}
.form-div label {
    height: auto;
}
.coppyright-inner p, .designed p {
    font-size: 11px;
}
.coppyright-div .container {
    display: block;
}
a.link-gray {
    position: relative;
    z-index: 9;
}
.core-inner {
    display: block;
    height: auto;
    margin-bottom: 20px;
	text-align: center;
}
.core-inner p {
    margin-left: 0;
    margin-right: 0;
}
.core-img {
    margin: 0 auto;
    margin-bottom: 10px;
}
.living-section {
    padding: 40px 0 80px;
    height: auto;
    background-size: contain;
}
.leadership-section {
    height: auto;
    padding: 40px 0 20px;
}
.overview-section {
    padding: 40px 0 60px;
    height: auto;
    background-size: contain;
}
.leadership-inner {
    padding: 25px 15px;
    min-height: 290px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.core-value {
    padding: 40px 0;
}
.banner-section {
    height: auto;
}
.banner-section video {
    vertical-align: bottom;
}
.tab-content {
    background: #fff;
    padding: 20px 15px 10px;
    margin-top: 10px;
}
#careerpopup .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
#leadership-section .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
	display: block;
}
#glry-section .modal-dialog {
    width: auto!important;
    margin: 50px;
}
.popup-glry.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.popup-glry button.owl-prev {
    top: -110px;
}
.popup-glry button.owl-next {
    top: -110px;
}
.print-img {
    width: 40%;
    float: left;
}
.print-inner {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;
}
.map-sec {
    padding: 50px 0 0;
}
.services-last {
    margin-top: 0;
}
.service-img {
    width: 135px;
    height: 135px;
}
.service-round {
    margin-top: 0;
}
}

@media (width: 768px){

.marquee-slider .item:hover:after {
    left: 93px;
	display:block;
}
.coppyright-div .container {
    display: flex;
}
.overview-section {
    padding: 40px 0 90px;
}
.living-section {
    padding: 40px 0 150px;
}

}

@media (max-width: 767px){
.certifications-sec {
    padding: 40px 0 30px;
}
.nabet-section {
    padding: 50px 0;
}	
#certifications-section .modal-dialog {
    width: auto;
    height: auto;
}
.blue-bg-pop {
    padding: 15px;
    display: block;
}
.popup-img {
    text-align: center;
}
.popup-name {
    text-align: center;
}
.popup-name hr {
    margin-top: 0;
    margin-bottom: 5px;
    width: 85%;
    margin: 0 auto;
}
.popup-txt {
    background: #f5f5f5;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}
.pop-name {
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 10px;
}
.popup-name p {
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
}
.service-round {
    margin-top: 30px;
}
.services-last {
    margin-top: 0!important;
}
.careers-inner {
    text-align: center;
}
.career-div {
    text-align: center;
}


.coppyright-div .text-center, .text-right {
    text-align: left;
}
.career-tbl {
   border: none;
}
.social-icon {
    display: inline-block;
    padding: 10px 0;
}
.social-icon ul li {
    padding: 0 10px 0 0;
    display: inline-block;
}
.leadership-inner {
    padding: 25px 15px;
    min-height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}
.services-section-inner .overview-inner {
    padding-bottom: 0px;
}
.services-last {
    margin-top: 60px;
}
.contact-bg
{
    background:none;
}
.contact-form
{
    background-color:#888688;
    margin-top: 40px;
    position: relative;
}
.flex-divv {
    display: block;
}
ul.service-tab
{
    display: block;
    padding-left: 0px;
}
ul.service-tab li .service-round .service-img
{
    background: #2a4092;
}
ul.service-tab li .service-round .service-img img {
    filter: brightness(0) invert(1);
    width: auto;
}
.s-greybg
{
    height: auto;
    padding: 10px 0px;
}
.services-last
{
    margin-top: 30px;
}
.career-form
{
    padding: 20px 0px;
}
ul.opening-tab li, ul.opening-tab li.active
{
    font-size: 16px;
}
.applynowform
{
    max-width: 100%;
    padding: 0px;
}
.careers-sec, .core-value
{
    padding: 45px 0px;
}
.core-inner
{
    margin-bottom: 45px;
}
.services-section-inner, .contact-us
{
    padding-top: 45px;
}
.gallery-img
{
    width: 50%;
}
.parent .child:before, .parent:focus .child:before
{
display: block;
}
.parent p
{
    display: block;
}
}
@media (max-width: 480px)
{

}
@media (max-width: 420px)
{

}
@media (max-width: 380px)
{

}
@media (max-width: 360px)
{

}
@media (max-width: 320px)
{

}

@media screen and (max-width: 767px) and (orientation: landscape) {
 
}
@media  (width: 731px) and (orientation: landscape) {

}
@media  (width: 667px) and (orientation: landscape) {

}
@media  (width: 640px) and (orientation: landscape) {

}
@media  (width: 568px) and (orientation: landscape) {

}
