@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
/*Commen-style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #444444;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}
.m-top-1{
    margin-top: 10px;
}
.m-top-2{
    margin-top: 20px;
}
.m-top-3{
    margin-top: 30px;
}
.hr{
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #efefef;
    margin-top: 5px;
}
/*Header-section*/
.banner{
    width: 450px;
    float: right;
    margin-top: 10px;
}
.header h5{
    color: #343B4A;
    font-size: 50px;
    font-weight: 600;
}
.header span{
   color: #0DA249; 
}
.header p{
    color: #a9a9a9;
    margin-top: 30px;
    font-size: 14px;
}
.nav-btn{
    padding: 6px 32px;
    background-color: #0DA249;
    color: #fff;
    margin-left: 20px;
    border-radius: 30px;
}
a.nav-btn:hover{
    color: #ddd;
}
/*About-section*/
.about{
    margin-top: 50px;
    text-align: center;
}
.about h5{
    font-size: 22px;
    color: #343B4A;
    font-weight: 700;
}
.about span{
    color: #0DA249;
}
.about .companies img{
    width: 180px;
}
.about .about-banner img{
    width: 400px;
    margin-top: 50px;
}
.header-title{
    color: #343B4A;
    font-size: 50px;
    font-weight: 600;
}
.about p{
    text-align: justify;
    color: #a9a9a9;
    margin-top: 30px;
    font-size: 14px;
}
/*Why-section*/
.why{
    background-color: #edf9f2;
    padding-bottom: 60px;
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 100%;
}
.why h5{
    margin-top: 50px;
    font-weight: 700;
    font-size: 40px;
}
.find-card{
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 21%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 21%);
    border-radius: 25px;
    padding: 30px;
    background-color: #fff;
    margin-top: 70px;
}
.find-card-icon{
    position: absolute;
    top: 32px;
    border-radius: 50px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 21%);
    box-shadow: 0 0 35px 0 rgb(186 203 210 / 66%);
    border: 5px solid #CFEDDC;
}
.find-card-icon img{
    margin: 18px auto;
    width: 40px;
}
.find-details{
    margin-top: 36px;
}
.find-details h4{
    font-weight: 700;
}
/*category*/
.category{
    background-color: #fff;
    padding-bottom: 60px;
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 100%;
}
.category h5{
    font-weight: 700;
    font-size: 40px;
}
.category-card{
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 21%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 21%);
    border-radius: 25px;
    padding: 30px;
    background-color: #fff;
    margin-top: 60px; 
}
.category h4{
    font-weight: 700;
    margin: 23px 0 10px 0;
    text-align: left;
}
.category p{
    text-align: left;
}
/*contact*/
.contact {
    background-color: #edf9f2;
    padding-bottom: 60px;
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 100%;
}
.contact h4{
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
}
.contact-form{
    background-color: #edf9f2;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 40px;
}
.footer{
    margin-top: 20px;
    float: left;
    width: 100%;
}
.footer p{
    margin-top: 10px;
}
.f-btn{
    padding: 6px 32px;
    background-color: #0DA249;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
@media only screen and (max-width:767px){
    img{
        width: 100% !important;
    }
    .category-card img{
        width: 105px !important;
    }
    .header h5 {
        font-size: 34px;
    }
    .header-title {
        font-size: 39px;
        margin-top: 40px;
    }
    .why {
        margin-top: 20px;
    }
    .why h5 {
        margin-top: 40px;
        font-size: 25px;
    }
    .find-card-icon img {
        margin: 29px auto;
        width: 40px !important;
    }
    .find-card-icon {
        top: 27px;
        width: 100px;
        height: 100px;
    }
    .category-card {
        margin-top: 20px;
    }
}
