@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #444444;
    background-color: #fff;
}
.header{
    padding: 12px 12px;
    box-shadow: 0px 14px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.header .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    padding: 13px 20px;
}
.banner{
    width: 100%;
    height: 450px;
    background-color: #ddd;
    margin-top: 72px;
}
.header .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #F6609A;
}
.m-top-1{
  margin-top: 10px;
}
.m-top-2{
  margin-top: 20px;
}
.primary-color{
  color: #F6609A;
}
.font-w-600{
  font-weight: 600;
}
.padding-b{
  padding-bottom: 80px;
}
.border-bottom{
  border-bottom: 1px solid #e1ecff !important;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/*indicator arrow background*/
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100% 50%;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.carousel-control-next-icon {
  background-position-x: 0.2em;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 9rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 29rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 29rem;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.carousel-indicators{
  cursor: pointer;
}
.product{
    margin-top: 14px;
    float: left;
    width: 100%;
}
.product p{
  margin-top: 50px;
  color: #F53F85;
  margin-bottom: 7px;
}
.product h3{
  font-size: 25px;
}
.product-btn {
  float: right;
  margin-top: 60px;
  padding: 4px 21px;
  border: none;
  border-radius: 50px;
  background-color: #F6609A;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.product-btn:focus{
  outline: none;
}
.tag{
    position: absolute;
    left: 28px;
    top: 10px;
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
    color:#41b334;
    font-size: 13px;
}
.tag-out{
  color: #F53F85;
}
.price-line{
  text-decoration: line-through;
  color: #B8B5B5;
}
.row-product{
    margin-top: 32px;
    background-color: #ececec;
    padding-bottom: 30px;
}
.product-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.bottom-title{
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: #fff;
}
.product img{
  cursor: pointer;
}
.zoom-effect{
  float: left;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.image-card img {
-webkit-transition: 0.4s ease;
transition: 0.4s ease;
}
.zoom-effect:hover .image-card img {
-webkit-transform: scale(1.03);
transform: scale(1.03);
border-radius: 10px !important;
}
.footer{
  width: 100%;
  float: left;
  background-color: #fff;
  padding-top: 50px;
}
.footer h5{
  color:#F6609A;
  margin-bottom: 30px;
}
.footer p{
  color: #6b6b6b;
  font-weight: 300;
}
@media only screen and (max-width:767px){
  .banner {
    margin-top: 65px;
}
.zoom-effect h5{
  font-size: 14px;
}
.product h3 {
  font-size: 18px;
}
.tag {
  left: 5px;
  top: 7px;
}
.zoom-effect {
  margin-bottom: 20px;
}
.row-product {
  margin-top: 0px;
  padding-bottom: 0px;
}
.product p {
  margin-top: 30px;
}
.product-btn {
  margin-top: 30px;
}
.padding-b {
  padding-bottom: 0px;
}
.footer {
  padding-top: 20px;
}
.m-top-r-2{
  margin-top: 20px;
}
.carousel-caption h1{
  font-size: 20px;
}
.carousel-item > img {
  height: 12rem;
  margin-bottom: 0px;
}
.carousel {
  height: 12rem;
  margin-bottom: 0px;
}
.carousel-item {
  height: 19rem;
}
.carousel-inner {
  height: 12rem;
}
.banner{
  height: auto;
}
.font-18{
  font-size: 18px;
}
.ptb40 {
  padding: 20px 0;
}
.bottom-title {
  left: 9px;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}
.scrollmenu div {
  display: inline-block;
  color: #000;
}
.wi-r-50{
  max-width: 50%;
}
.whatapp-icon {
  right: 17px;
  bottom: 23px;
}
.about-banner .breadcrumb {
  width: 46% !important;
}
.about-banner {
  margin-top: 65px !important;
}
}
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #F6609A;
  border-radius: 50px;
}

section.get-started {
  background-blend-mode: overlay;
  background: url(../img/get-started-bg.png) no-repeat, -moz-linear-gradient(to right, #F6609A -20%, #940a3f 120%);
  background: url(../img/get-started-bg.png) no-repeat, -webkit-linear-gradient(to right, #F6609A -20%,#940a3f 120%);
  background: url(../img/get-started-bg.png) no-repeat, linear-gradient(to right, #F6609A -20%,#940a3f 120%);
  background-position: center center;
  background-size: cover;
}
.ptb40 {
  padding: 25px 0;
}
.scrool-title{
    width: 90%;
    background-color: rgb(255 255 255 / 85%);
    padding: 4px;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    color: #b02459;
}
.whatapp-icon{
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}
.about-banner{
  height: 200px;
  width: 100%;
  margin-top: 70px;
  text-align: center;
  float: left;
  background-image: url(../img/sub-banner.jpg);
}
.about-banner h2{
  margin-top: 60px;
  color: #fff;
}
.about-banner .breadcrumb{
    width: 13%;
    margin: 0 auto;
    background: none;
}
.about-content h2{
  margin-top: 20px;
  color: #f882b0;
}
.about-content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    text-align: justify;
}
.breadcrumb-item a{
  color: #f882b0;
}
.breadcrumb-item.active {
  color: #e0e0e0;
}
.about-content{
  margin-top: 40px;
  float: left;
  padding-bottom: 20px;
}




