@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.login-wapper {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.login-inner {
    width: 60%;
    display: block;
    height: 100vh;
    background-color: #F6F6F6;
    text-align: center;
}

.login-inner h1 {
    margin-top: 20px;
    font-size: 30px;
    color: #707070;
    line-height: 50px;
}

.login-inner span {
    color: #0D206E;
}

.login-imgs {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    height: 78%;
}

.logo {
    width: 50%;
    margin: 10px auto 20px;
    display: block;
}

.login-form {
    width: 40%;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.user-slection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.user-wapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #C8C8C8;
    padding: 3px 20px;
    border-radius: 9px;
    width: 43%;
    min-height: 98px;
    margin: 0px 13px;
    position: relative;
    text-align: center;
}
.user-wapper p {
    margin: 0px;
}
.block {
    display: block;
}
.w-full {
    width: 100%;
}
.h-screen {
    height: 100vh;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-cus {
    padding: 5px 40px;
    font-size: 14px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.form-group.has-search {
    margin: 16px 0px;
}

.form-label {
    margin-bottom: 7px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #0D206E;
    outline: 0;
    box-shadow: none;
}
.form-label {
    font-weight: 500;
}
.btn-cus {
    background-color: #0D206E;
    border-radius: 21px;
    padding: 5px 26px;
    color: #fff;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    outline: none;
}
.btn-cus:hover {
    background-color: #0b1b5a;
}
.user-slection a.active {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: right 100%;
    border: 1px solid #0D206E;
}
.user-slection img {
    margin: 0 auto;
    display: block;
}
.user-slection a {
    text-decoration: none;
    color: #000;
}
.user-slection a:hover {
    text-decoration: none;
    color: #000;
}
.lg-none {
    display: none;
}
.m_t-8{
    margin-top: 8px;
}
.link-password{
    color: #087AEC;
    font-size: 12px;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .login-inner h1 {
        margin-top: 4px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .login-imgs {
        display: none;
    }

    .login-wapper {
        flex-direction: column;
        height: auto;
    }

    .login-inner {
        width: 100%;
        background-color: #fff;
        height: auto;
    }

    .login-form {
        width: 100%;
        padding: 0px;
    }

    .m-none {
        display: none;
    }

    .user-slection {
        width: 100%;
    }

    .user-wapper {
        padding: 3px 14px;
        width: 44%;
        height: 116px;
        margin: 0px 9px;
    }

    .logo {
        margin: 20px auto 20px;
        width: auto;
    }

    .btn-cus {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lg-none {
        display: block;
    }
}