@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.nav-bar {
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 10px;
  background-color: #fff;
  color: #ddd;
}
.navbar-dark .navbar-nav .nav-link {
  color: #898989;
}
.res-wapper {
  min-height: 420px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #253d61;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #253d61;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
  color: #253d61;
}
/* .cus-navbar .navbar-nav .nav-link {
  color: #253d61;
  font-size: 15px;
}
.cus-navbar .navbar-light .navbar-nav .active > .nav-link {
  color: #253d61;
  font-size: 15px;
}
.cus-navbar .navbar-nav .nav-link:focus,
.cus-navbar .navbar-nav .nav-link:hover {
  color: #0946a3;
  font-weight: 500;
} */
/* Slider */
.carousel-item {
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slider-section {
  width: 100%;
  margin-top: 40px;
}
.about-section h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ff9100;
}
.about-section {
  padding-bottom: 100px;
}
.residential-section {
  background-color: #fbfafa;
  padding-top: 10px;
}
.residential-section h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ff9100;
}
.residential-data {
  margin-top: 20px;
  margin-bottom: 20px;
}
.res-bg {
  background-color: #ddd;
  border-radius: 10px;
}
.res-bg img {
  border-radius: 5px;
}
.res-title {
  background-color: #fff;
  min-height: 180px;
  margin-top: -190px;
  position: relative;
  width: 85%;
  margin: 0 auto;
  border-radius: 12px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  padding: 20px;
  bottom: 66px;
}
.ava-lable {
  position: absolute;
  right: 15px;
  top: 14px;
  background: #0056b3;
  padding: 3px 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}
.projects h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ff9100;
}
.projects {
  padding: 10px 10px;
}
.projects ul {
  padding-left: 30px;
  line-height: 50px;
  margin-top: 20px;
}
.projects ul li {
  list-style: square;
}
.contact {
  padding: 80px 0;
  background-color: #fbfafa;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #ff9100;
}

.contact .heading h2 span {
  /* color: #ff9100; */
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: #ff9100;
  color: #ffffff;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #0056b3;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  padding: 20px;
  font-size: 24px;
  color: #0056b3;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.footer p {
  margin: 10px 0px;
}
.res-title a {
  background-color: #0056b3;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px;
  }
}
.project{
  width: 100%;
  margin-top: 40px;
}
.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
      margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
  background: #071c34;
  padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
  color: #071c34;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0;
}  
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
  height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
  background: #071c34;
  width: 150px;
  border-color: #071c34;
}
.contact-info-icon i {
  font-size: 48px;
  color: #fda40b;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-text span {
  color: #999999;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
  background: #fda40b none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
  color: #464646;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.contact-page-map {
  margin-top: 36px;
}
.contact-page-form form {
    padding: 20px 15px 0;
}
